/* 
    Document   : morningstar
    Created on : 27-set-2011, 23.50.06
    Author     : janesconference
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@font-face {
        font-family: "embedded_font";
        src: url(EHSMB.TTF);
    }
    .embed {
        font-family: "embedded_font";
    }

    .embed_msg {
        font-family: "embedded_font";
    }

    body {
        background-image:url('MS_tile.png');
        background-repeat:repeat;
    }

    #div-1 {
        margin-left: auto;
        margin-right: auto;
        width: 920px;
        height: 570px;
    }

    .shadow {
        -moz-box-shadow: 22px 25px 20px #050505;
        -webkit-box-shadow: 22px 25px 20px #050505;
        box-shadow: 22px 25px 20px #050505;
    }

    /* This comes from the good http://www.noobcube.com/tutorials/html-css/horizontal-and-vertical-centering-using-css-a-beginners-guide-/#step8 */

    #center_div {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 570px;
        width: 920px;
        margin-top: -285px; /* -(1/2 height) */
        margin-left: -460px; /* -(1/2 width) */
  }
  
  #div-message {
      position: absolute;
      margin-top: -18px; /* -(1/2 height) */
      margin-left: -460px; /* -(1/2 width) */
      top: 50%;
      left: 50%;
      width:920px;
      height: 36px;
      line-height: 36px;
        
      background: #220000;
      color: #ffffff;
      font: 0.8em "Droid Sans Mono", monospace;
      
      -moz-border-radius: 0.3em;
      -webkit-border-radius: 0.3em;
      border-radius: 0.3em;
      text-align: center;
      opacity:0.8;
    }